bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
.vscode
.vs
*.csproj.user

**.autosave*
.pytest_cache
.secrets
.cache
.runsettings
**/TestResults**

# Nuget packages
*.nupkg
*.packages

*.autosave.*
diff.txt
